p {
	color: #2C2B2B;
	font-size: 120%;
}

.grid-item .project-description {
    opacity: 0;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background: hsla(0,0%,100%,.83);
    position: absolute;
    width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5%;
    text-decoration: none;
 }

a:hover img{
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    transition: all 1.5s ease ;
}

.hasztag {
	color: #2AAED6;
	font-weight: 100;
}

body {
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.78;
    color: #555;
    background-color: #EFEFEF;
}

.sidebar{
	background-color: #CECECE;
}

#gruby {
    font-weight: 500;
    text-decoration: underline;
    font-size: 150%;
}
.wiosna {
    color: #68CE00;
}
